Flask==0.11.1
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
PyDispatcher==2.0.5
SQLAlchemy==1.0.15
Scrapy==1.1.2
Twisted==16.4.1
Werkzeug==0.11.11
argparse==1.2.1
attrs==16.2.0
cffi==1.8.3
click==6.6
cryptography==1.5
cssselect==0.9.2
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
lxml==3.6.4
parsel==1.0.3
psycopg2==2.6.2
pyOpenSSL==16.1.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
queuelib==1.4.2
requests==2.11.1
scrapyd==1.1.0
scrapyd-client==1.0.1
service-identity==16.0.0
six==1.10.0
w3lib==1.15.0
wsgiref==0.1.2
zope.interface==4.3.2
