{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid">        
        <div class="container-fluid">
            <h3 style="width: 300px;float: left;" class="title">Easyroommate storage</h3>
            <div style="width: 300px;float: right;margin-top: 20px;">
                {% if pagination.previous_page %}<a href="{{ url_for('easyroommate',page=pagination.previous_page) }}"><img width="20px" src="{{ url_for('static', filename='img/previous.jpeg') }}" /></a> {% endif %}
                Page {{ pagination.current_page }}
                {% if pagination.next_page %} <a href="{{ url_for('easyroommate',page=pagination.next_page) }}"><img width="20px" src="{{ url_for('static', filename='img/next.jpeg') }}" /></a>{% endif %}
            </div>
        </div>
        <table id="resultsTable" class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Spider name</th>
                <th>Location</th>
                <th>Price/ft</th>
                <th>Image url</th>
                <th>About the flatshare</th>
                <th>Who lives there</th>
                <th>Ideal flatmates</th>
                <th>Description</th>
            </tr>
            {% for property in data %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.spider_name }}</td>
                <td>{{ property.location }}</td>
                <td>{{ property.price }}</td>
                <td>{% if property.image_url %}<a target="_blank" href="{{ property.image_url }}"><img width="20px" src="{{ url_for('static', filename='img/link.png') }}"></a>{% endif %}</td>
                <td>{{ property.about_the_flatshare }}</td>
                <td>{{ property.who_lives_there }}</td>
                <td>{{ property.ideal_flatmates }}</td>
                <td>{{ property.description }}</td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}