{% extends "base_site_pages.html" %}
{% block title %}Spiders list{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block ext_js %}
<script type="text/javascript">var base_scrapyd_url = '{{ scrapyd_url }}';</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scrapyd_interaction.js') }}"></script>
{% endblock ext_js %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <h3 class="title">Spiders job list</h3>
    </div>
    <table id="resultsTable" class="table table-striped"></table>
</div>
{% endblock %}